*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
   
}
a{
    text-decoration: none;
}
body{
    width: 1225px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}




.content{
    display: flex;
    width: 100%;
}
.selections{
    width: 950px;

}
.wrapper{
    width: 780px;
    margin: auto;
}
.nav{
    background: #353541;
    width: 275px;
    
}
.profile{
    position: relative;
    padding: 20px 30px;
    height: 220px;
    color:#fff;
    background: rgb(53,53,65);
    background: linear-gradient(0deg, rgba(53,53,65,1) 0%, rgb(78, 89, 102) 50%, rgba(53,53,65,1) 100%);
}
.profile h3{
    color:#fff;
}

.profile-info{
    max-width: 215px;
    position: absolute;
    bottom: 20px;
}
.profile-name{
    font-size: 32px;
}
.profile-discription{
    font-size: 16px;
}
.navMenu-link{
    display: block;
    border-top: 1px solid #242431 ;
    color: #fff;
    font-size: 22px;
    text-align: left;
    text-transform: capitalize;
    padding: 20px;
}



.first-selection{
    background: #353541;
    color: #fff;
    padding-top: 115px;
    padding-bottom: 115px;
    text-align: center;
}
.first-selection h1{
    font-size: 48px;
}
.first-selection p{
    color: #b8b8bd;
    max-width: 550px;
    margin: 5px auto 0;
    font-size: 14px;
    line-height: 29px;
}
.first-selection button{
    margin-top: 50px;
    cursor: pointer;
    width: 170px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #fb6470;
    color: #fff;
    font-size: 22px;
}

.about{
    display: flex;
    justify-content: space-between;
    padding: 80px 20px 115px;
    border-bottom: 1px solid #b8b8bd;
}
.about-info{
    width: 370px;
}
.about-info h2{
    position: relative;
    margin-top: 40px;
    font-size: 32px;
}
.about-info h2::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #fb6470;
    width: 75px;
    height: 2px;
    bottom: -20px;
}
.about-info p{
    margin-top: 70px;
    font-size: 14px;
    line-height: 26px;
    color: #b8b8bd;
}
.about-info ul{
    margin-top: 80px;
}
.about-description{
    font-weight: 600;
    line-height: 50px;
    font-size: 18px;
    font-size: 18px;
}
.about-description span{
    font-weight: 500;
}
.about-description + .about-description{
    border-top: 1px solid #b8b8bd;
}

.about-photo{
    width: 340px;
    border-radius: 10px;
    overflow: hidden;
}
.about-photo-img{
    max-width: 380px;
}



.work, .education, .mySkils{
    padding: 80px 10px;
    border-bottom: 1px solid #b8b8bd;
}
.work h2, .education h2, .mySkils h2{
    position: relative;
}
.mySkils h2::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #fb6470;
    width: 75px;
    height: 2px;
    bottom: -20px;
}
.education h2::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #fb6470;
    width: 75px;
    height: 2px;
    bottom: -20px;
}
.work h2::after{
    content: "";
    position: absolute;
    display: block;
    background-color: #fb6470;
    width: 75px;
    height: 2px;
    bottom: -20px;
}

.work-dialogs, .education-dialogs{
    display: flex;
    justify-content: space-around;
    margin-top: 55px;
}
.dialogs-left{
    padding: 80px 60px 80px 0;
    border-right: 1px solid #b8b8bd;
}
.dialogs-right{
    padding: 0 0 0 60px;
}

.dialogs-left-item, .dialogs-right-item{
    padding: 15px 25px 20px;
    position: relative;
    background-color: #353541;
    border-radius: 5px;
    color: #a1a1a6;
    
}
.dialogs-right-item + .dialogs-right-item, .dialogs-left-item + .dialogs-left-item{
    margin-top: 155px;
}
.dialog-item-title{
    color: #fff;
}
.dialog-item-title span{
    color: #a1a1a6;
}
.dialogs-left-item img{
    position: absolute;
    right: -76px;
    bottom:0;
}
.dialogs-item-date{
    font-size:16px;
    color: #fb6470;
    margin-top:5px;
    margin-bottom:10px;
}
.dialogs-left-item::after{
    content: '';
    position: absolute;
    right: -25px;
    bottom: 20px;
    border: 25px solid transparent;
    border-left: 25px solid #353541;
    transform: rotate(-90deg);
}
.dialogs-right-item img{
    position: absolute;
    left: -76px;
    top:0;
}

.dialogs-right-item::after{
    content: '';
    position: absolute;
    left: -25px;
    top: 20px;
    border: 25px solid transparent;
    border-left: 25px solid #353541;
    transform: rotate(90deg);
}


